<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stu.system.mapper.SysClassMapper">
    
    <resultMap type="SysClass" id="SysClassResult">
        <result property="classId"    column="class_id"    />
        <result property="className"    column="class_name"    />
        <result property="specialtyId"    column="specialty_id"    />
        <result property="headTeacherId"    column="head_teacher_id"    />
        <result property="specialtyName"    column="specialty_name"    />
        <result property="headTeacherName"    column="head_teacher_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysClassVo">
        select class_id, class_name, specialty_id, head_teacher_id,specialty_name, head_teacher_name,create_by, create_time, update_by, update_time from sys_class
    </sql>

    <select id="selectSysClassList" parameterType="SysClass" resultMap="SysClassResult">
        <include refid="selectSysClassVo"/>
        <where>  
            <if test="className != null  and className != ''"> and class_name like concat('%', #{className}, '%')</if>
            <if test="specialtyId != null "> and specialty_id = #{specialtyId}</if>
            <if test="headTeacherId != null "> and head_teacher_id = #{headTeacherId}</if>
        </where>
    </select>
    
    <select id="selectSysClassByClassId" parameterType="Long" resultMap="SysClassResult">
        <include refid="selectSysClassVo"/>
        where class_id = #{classId}
    </select>

    <insert id="insertSysClass" parameterType="SysClass" useGeneratedKeys="true" keyProperty="classId">
        insert into sys_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="className != null">class_name,</if>
            <if test="specialtyId != null">specialty_id,</if>
            <if test="headTeacherId != null">head_teacher_id,</if>
            <if test="specialtyName != null">specialty_name,</if>
            <if test="headTeacherName != null">head_teacher_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="className != null">#{className},</if>
            <if test="specialtyId != null">#{specialtyId},</if>
            <if test="headTeacherId != null">#{headTeacherId},</if>
            <if test="specialtyName != null">#{specialtyName},</if>
            <if test="headTeacherName != null">#{headTeacherName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysClass" parameterType="SysClass">
        update sys_class
        <trim prefix="SET" suffixOverrides=",">
            <if test="className != null">class_name = #{className},</if>
            <if test="specialtyId != null">specialty_id = #{specialtyId},</if>
            <if test="headTeacherId != null">head_teacher_id = #{headTeacherId},</if>
            <if test="specialtyName != null">specialty_name = #{specialtyName},</if>
            <if test="headTeacherName != null">head_teacher_name = #{headTeacherName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where class_id = #{classId}
    </update>

    <delete id="deleteSysClassByClassId" parameterType="Long">
        delete from sys_class where class_id = #{classId}
    </delete>

    <delete id="deleteSysClassByClassIds" parameterType="String">
        delete from sys_class where class_id in 
        <foreach item="classId" collection="array" open="(" separator="," close=")">
            #{classId}
        </foreach>
    </delete>
</mapper>