<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stu.system.mapper.SysHeadTeacherMapper">
    
    <resultMap type="SysHeadTeacher" id="SysHeadTeacherResult">
        <result property="headTeacherId"    column="head_teacher_id"    />
        <result property="headTeacherName"    column="teacher_name"    />
        <result property="departmentName"    column="department_name"    />
        <result property="contactNumber"    column="contact_number"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysHeadTeacherVo">
        select head_teacher_id, teacher_name, department_name, contact_number, create_by, create_time, update_by, update_time from sys_head_teacher
    </sql>

    <select id="selectSysHeadTeacherList" parameterType="SysHeadTeacher" resultMap="SysHeadTeacherResult">
        <include refid="selectSysHeadTeacherVo"/>
        <where>  
            <if test="headTeacherName != null  and headTeacherName != ''"> and teacher_name like concat('%', #{headTeacherName}, '%')</if>
            <if test="departmentName != null  and departmentName != ''"> and department_name like concat('%', #{departmentName}, '%')</if>
            <if test="contactNumber != null  and contactNumber != ''"> and contact_number = #{contactNumber}</if>
        </where>
    </select>
    
    <select id="selectSysHeadTeacherByHeadTeacherId" parameterType="Long" resultMap="SysHeadTeacherResult">
        <include refid="selectSysHeadTeacherVo"/>
        where head_teacher_id = #{headTeacherId}
    </select>

    <insert id="insertSysHeadTeacher" parameterType="SysHeadTeacher" useGeneratedKeys="true" keyProperty="headTeacherId">
        insert into sys_head_teacher
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="headTeacherName != null">teacher_name,</if>
            <if test="departmentName != null">department_name,</if>
            <if test="contactNumber != null">contact_number,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="headTeacherName != null">#{headTeacherName},</if>
            <if test="departmentName != null">#{departmentName},</if>
            <if test="contactNumber != null">#{contactNumber},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysHeadTeacher" parameterType="SysHeadTeacher">
        update sys_head_teacher
        <trim prefix="SET" suffixOverrides=",">
            <if test="headTeacherName != null">teacher_name = #{headTeacherName},</if>
            <if test="departmentName != null">department_name = #{departmentName},</if>
            <if test="contactNumber != null">contact_number = #{contactNumber},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where head_teacher_id = #{headTeacherId}
    </update>

    <delete id="deleteSysHeadTeacherByHeadTeacherId" parameterType="Long">
        delete from sys_head_teacher where head_teacher_id = #{headTeacherId}
    </delete>

    <delete id="deleteSysHeadTeacherByHeadTeacherIds" parameterType="String">
        delete from sys_head_teacher where head_teacher_id in 
        <foreach item="headTeacherId" collection="array" open="(" separator="," close=")">
            #{headTeacherId}
        </foreach>
    </delete>
</mapper>